openconfig-bgp:bgp {
    neighbors {
{% for item in bgp_neighbors %}
        neighbor {{ item.address }} {
            config {
                peer-as {{ item.as }};
                peer-group {{ item.group }} ;
            }
        }
{% endfor %}
    }
    peer-groups {
{% for item in bgp_groups %}
        peer-group {{ item.name }} {
            config {
                local-as {{ item.local_as }};
                peer-type {{ item.type }};
            }
            apply-policy {
                config {
                    import-policy {{ item.import_policy }};
                    export-policy {{ item.export_policy }};
                }
            }
        }
{% endfor %}
    }
}
policy-options {
{% for item in bgp_groups %}
    policy-statement {{ item.import_policy }} {
        then accept;
    }
    policy-statement {{ item.export_policy }} {
        then accept;
    }
{% endfor %}
}
