interfaces {
{% for item in topology %}
    {{ item.interface }} {
        unit 0 {
            family inet {
                address {{ item.address }}/24;
            }
       }
    }
{% endfor %}
}

